.menu {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

.titulo {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.btn {
    height: 30px;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    color: wheat;
}

.linha {
    width: 100%;
    margin-top: 15%;
}

.copyright {
    margin-top: 1%;
    justify-content: center;
    display: flex;
}