<div class="pagina-conta">
    <label class="titulo">Título</label>
    <div class="num1">
        <label class="texto">Número 1:</label>
        <input #num1 class="form-num1" type="text" placeholder="Digite um número">
    </div>

    <div class="num2">
        <label class="texto">Número 2:</label>
        <input #num1 class="form-num2" type="text" placeholder="Digite um número">
    </div>

    <div class="botao">
        <button class="btn-somar">Somar</button>
    </div>

    <div class="resultado">
        <label class="texto">Resultado:</label>
        <input #num1 class="form-result" type="text">
    </div>
</div>
